<!DOCTYPE html>
<html>
	<head>
		<%- include("../partials/meta-links/head") %>
	</head>
	<body>
		<%- include("../partials/nav/mobileNav") %>
		<!-- <%- include("../partials/nav/desktopNav") %> -->

		<main
			data-spy="scroll"
			data-target="#test"
			data-offset="100"
			class="main"
		>
			<div class="container">
				<div class="landing">
					<h1>I <span id="typed"></span></h1>
				</div>

				<div id="about">
					<div class="about-wrapper">
						<%- include("../partials/sections/about.ejs") %>
					</div>
				</div>

				<div id="portfolio">
					<div class="portfolio-wrapper">
						<%- include("../partials/sections/portfolio.ejs") %>
					</div>
				</div>

				<div id="contact">
					<div class="contact-wrapper">
						<%- include("../partials/sections/contact.ejs") %>
					</div>
				</div>
			</div>
			<footer>
				<div class="footer-wrapper">
					<%- include("../partials/sections/footer.ejs") %>
				</div>
			</footer>
		</main>
		<%- include("../partials/meta-links/js") %>
	</body>
</html>
